.fundo{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 700px;
    align-items: center;
    justify-content: center;
}

.lado1{
    position: relative;
    top: 0px;
    width: 80%;
    height: 300px;
    background-color: rgb(250, 250, 250);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.lado1 h1{
    font-size: 30px;
    font-weight: 550;
    font-family: arial;
    text-align: center;
}

.lado1 p{
    text-align: center;
    font-family: arial;
    font-size: 24px;
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

.cor1{
    color: #3569AF;
}

.cor2{
    color: #FFBE12;
}

.homep{
    color: black;
}