.venda{
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    gap: 10px;
    text-decoration: none;
}
.venda p{
    position: relative;
    top: 80px;
    color: black;
}
.venda a{
    text-decoration: none;
}
.venda h5{
    color: red;
}
.violo{
    position: relative;
    top: 25%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 90%;
    
}
.fig1{

background-color: rgb(255, 255, 255);
height: 50%;
width: 30%;
top: 30px;
color: black;
box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
border-radius: 30px;
}

img{
    position: relative;
    height: 120px;
    top: 15px;
}